# Yelp Restaurant Review Data Analysis

## Business.json Data

In [1]:
import pandas as pd

# Columns that are used for the initial dataframe
cols = ['business_id', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'categories']

business_df = pd.read_csv('..\Yelp Dataset\yelp_business.csv', index_col='business_id', usecols=cols)

In [2]:
business_df.head()

,city,state,postal_code,latitude,longitude,stars,review_count,categories
business_id,,,,,,,,
FYWN1wneV18bWNgQjJ2GNg,Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,Dentists;General Dentistry;Health & Medical;Or...
He-G7vWjzVUysIKrfNbPUQ,McMurray,PA,15317,40.291685,-80.104900,3.0,11,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
KQPW8lFf1y5BT2MxiSZ3QA,Phoenix,AZ,85017,33.524903,-112.115310,1.5,18,Departments of Motor Vehicles;Public Services ...
8DShNS-LuFqpEWIp0HxijA,Tempe,AZ,85282,33.383147,-111.964725,3.0,9,Sporting Goods;Shopping
PfOCPjBrlQAnz__NXj9h_w,Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...

In [3]:
business_df.shape

(174567, 8)

In [4]:
business_df.describe(include='all')

,city,state,postal_code,latitude,longitude,stars,review_count,categories
count,174566,174566,173944,174566.000000,174566.000000,174567.000000,174567.000000,174567
unique,1093,67,16004,NaN,NaN,NaN,NaN,76419
top,Las Vegas,AZ,89109,NaN,NaN,NaN,NaN,Restaurants;Pizza
freq,26775,52214,2965,NaN,NaN,NaN,NaN,990
mean,NaN,NaN,NaN,38.627312,-92.679009,3.632196,30.137059,NaN
std,NaN,NaN,NaN,5.389012,26.240079,1.003739,98.208174,NaN
min,NaN,NaN,NaN,-36.086009,-142.466650,1.000000,3.000000,NaN
25%,NaN,NaN,NaN,33.631550,-112.125879,3.000000,4.000000,NaN
50%,NaN,NaN,NaN,36.144257,-89.410128,3.500000,8.000000,NaN
75%,NaN,NaN,NaN,43.606181,-79.657609,4.500000,23.000000,NaN
max,NaN,NaN,NaN,89.999314,115.086769,5.000000,7361.000000,NaN

Because we are visualizing only restaurant review data, we want to extract observations that have Restaurants value in their category attribute.

In [5]:
business_df.categories.value_counts()

Restaurants;Pizza                                                                                                                                                                                    990
Pizza;Restaurants                                                                                                                                                                                    987
Food;Coffee & Tea                                                                                                                                                                                    978
Nail Salons;Beauty & Spas                                                                                                                                                                            936
Coffee & Tea;Food                                                                                                                                                                                    929
Beauty & Spas;Nail Salons                                                                                                                                                                            909
Mexican;Restaurants                                                                                                                                                                                  906
Restaurants;Mexican                                                                                                                                                                                  864
Restaurants;Chinese                                                                                                                                                                                  857
Chinese;Restaurants                                                                                                                                                                                  839
Beauty & Spas;Hair Salons                                                                                                                                                                            839
Hair Salons;Beauty & Spas                                                                                                                                                                            781
Restaurants;Italian                                                                                                                                                                                  615
Italian;Restaurants                                                                                                                                                                                  554
Auto Repair;Automotive                                                                                                                                                                               551
Grocery;Food                                                                                                                                                                                         538
Food;Grocery                                                                                                                                                                                         522
Automotive;Auto Repair                                                                                                                                                                               504
Na                                                                                                                                                                                                   500
Food;Ice Cream & Frozen Yogurt                                                                                                                                                                       424
Ice Cream & Frozen Yogurt;Food                                                                                                                                                                       389
Financial Services;Banks & Credit Unions                                                                                                                                                             382
Food;Bakeries                                                                                                                                                                                        374
Restaurants                                                                                                                                                                                          362
Bakeries;Food                                                                                                                                                                                        357
Beauty & Spas;Barbers                                                                                                                                                                                355
Banks & Credit Unions;Financial Services                                                                                                                                                             346
Barbers;Beauty & Spas                                                                                                                                                                                346
Restaurants;American (Traditional)                                                                                                                                                                   311
Apartments;Real Estate;Home Services                                                                                                                                                                 309
                                                                                                                                                                                                    ...
Handyman;Heating & Air Conditioning/HVAC;Fences & Gates;Masonry/Concrete;Contractors;Home Services                                                                                                     1
Restaurants;Mediterranean;American (New);Vegetarian                                                                                                                                                    1
Barbeque;Restaurants;Southern                                                                                                                                                                          1
Specialty Schools;Fitness & Instruction;Active Life;Education;Yoga                                                                                                                                     1
Floral Designers;Wedding Planning;Event Planning & Services;Shopping;Flowers & Gifts;Florists                                                                                                          1
Hotels & Travel;Hotels;American (Traditional);Restaurants;Event Planning & Services                                                                                                                    1
Desserts;Party & Event Planning;Bakeries;Food;Restaurants;Event Planning & Services;Sandwiches;Caterers                                                                                                1
Trainers;Active Life;Boot Camps;Fitness & Instruction                                                                                                                                                  1
Desserts;Ice Cream & Frozen Yogurt;Chocolatiers & Shops;Food;Specialty Food                                                                                                                            1
General Dentistry;Dentists;Cosmetic Dentists;Health & Medical;Dental Hygienists                                                                                                                        1
Pubs;Bars;Nightlife;Restaurants;Pizza                                                                                                                                                                  1
Local Services;Flooring;Home Services;Professional Services;Air Duct Cleaning;Home Cleaning;Carpet Cleaning                                                                                            1
Bars;Nightlife;Lounges;Food;Breweries                                                                                                                                                                  1
Day Spas;Beauty & Spas;Nail Salons;Tattoo;Permanent Makeup;Eyelash Service;Skin Care                                                                                                                   1
Juice Bars & Smoothies;Bars;Nightlife;Mediterranean;Restaurants;Falafel;Hookah Bars;Food                                                                                                               1
Furniture Stores;Mattresses;Home Decor;Shopping;Home & Garden                                                                                                                                          1
Hotels;American (New);Restaurants;Event Planning & Services;Hotels & Travel                                                                                                                            1
Active Life;Synagogues;Buddhist Temples;Education;Fitness & Instruction;Religious Organizations;Meditation Centers;Religious Schools                                                                   1
Home Decor;Home & Garden;Baby Gear & Furniture;Furniture Stores;Kitchen & Bath;Shopping;Electronics;Appliances                                                                                         1
Photography Stores & Services;Convenience Stores;Cosmetics & Beauty Supply;Shopping;Beauty & Spas;Drugstores;Food                                                                                      1
Hair Salons;Beauty & Spas;Hair Stylists;Men's Hair Salons;Barbers                                                                                                                                      1
Home & Rental Insurance;Insurance;Financial Services;Home Services                                                                                                                                     1
Shopping;Used;Vintage & Consignment;Fashion;Accessories                                                                                                                                                1
Home Services;Battery Stores;Electronics Repair;Electronics;IT Services & Computer Repair;Local Services;Mobile Phone Repair;Hardware Stores;Home & Garden;Shopping;Lighting Fixtures & Equipment      1
Restaurants;Diners;Canadian (New)                                                                                                                                                                      1
Formal Wear;Bridal;Shopping;Event Planning & Services;Fashion;Wedding Planning;Men's Clothing                                                                                                          1
Veterinarians;Pet Sitting;Pet Groomers;Pets;Pet Services                                                                                                                                               1
Mexican;Chinese;Restaurants                                                                                                                                                                            1
Bakeries;Farmers Market;Macarons;Desserts;Food;Specialty Food;Chocolatiers & Shops;Grocery                                                                                                             1
Tires;Auto Parts & Supplies;Motorcycle Dealers;Shopping;Motorcycle Repair;Automotive                                                                                                                   1
Name: categories, Length: 76419, dtype: int64

In [6]:
# Matching 'Restaurants' string with categories attribute and extracting a new dataframe
restaurants_df = business_df[business_df['categories'].str.contains('Restaurants')]

In [7]:
restaurants_df.shape

(54618, 8)

In [8]:
restaurants_df.head()

,city,state,postal_code,latitude,longitude,stars,review_count,categories
business_id,,,,,,,,
PfOCPjBrlQAnz__NXj9h_w,Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...
o9eMRCWt5PkpLDE0gOPtcQ,Stuttgart,BW,70567,48.727200,9.147950,4.0,5,Italian;Restaurants
XOSRcvtaKc_Q5H1SAzN20A,Houston,PA,15342,40.241548,-80.212815,4.5,3,Breakfast & Brunch;Gluten-Free;Coffee & Tea;Fo...
fNMVV_ZX7CJSDWQGdOM8Nw,Charlotte,NC,28202,35.221647,-80.839345,3.5,7,Restaurants;American (Traditional)
l09JfMeQ6ynYs5MCJtrcmQ,Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,12,Italian;French;Restaurants

Inspecting the DF for missing and duplicate values

In [9]:
restaurants_df.isna().sum()

city              0
state             0
postal_code     101
latitude          0
longitude         0
stars             0
review_count      0
categories        0
dtype: int64

There are some missing values, but so few that we can drop them.

In [10]:
r_df_nona = restaurants_df.dropna(axis=0, how='any')
r_df_nona.isna().sum()

city            0
state           0
postal_code     0
latitude        0
longitude       0
stars           0
review_count    0
categories      0
dtype: int64

In [11]:
r_df_nona[r_df_nona.duplicated()]

,city,state,postal_code,latitude,longitude,stars,review_count,categories
business_id,,,,,,,,
e8cFfRySb8n9lMXRnyzeIA,Charlotte,NC,28270,35.137593,-80.73942,3.0,7,Restaurants;Chinese

Only one duplicate value so we can drop it.

In [12]:
r_df = r_df_nona.drop_duplicates(keep='first')

In [13]:
r_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54516 entries, PfOCPjBrlQAnz__NXj9h_w to UdEmYOnk2iJDY9lpEPAlJQ
Data columns (total 8 columns):
city            54516 non-null object
state           54516 non-null object
postal_code     54516 non-null object
latitude        54516 non-null float64
longitude       54516 non-null float64
stars           54516 non-null float64
review_count    54516 non-null int64
categories      54516 non-null object
dtypes: float64(3), int64(1), object(4)
memory usage: 3.7+ MB

We want to replace the Restaurants string in categories attribute, because it doesn't provide any additional information

In [14]:
r_df['categories'] = r_df['categories'].replace({';Restaurants' : '', 'Restaurants;' : '', 'Restaurants' : ''}, regex=True)

C:\Users\joona\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
r_df.head()

,city,state,postal_code,latitude,longitude,stars,review_count,categories
business_id,,,,,,,,
PfOCPjBrlQAnz__NXj9h_w,Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...
o9eMRCWt5PkpLDE0gOPtcQ,Stuttgart,BW,70567,48.727200,9.147950,4.0,5,Italian
XOSRcvtaKc_Q5H1SAzN20A,Houston,PA,15342,40.241548,-80.212815,4.5,3,Breakfast & Brunch;Gluten-Free;Coffee & Tea;Fo...
fNMVV_ZX7CJSDWQGdOM8Nw,Charlotte,NC,28202,35.221647,-80.839345,3.5,7,American (Traditional)
l09JfMeQ6ynYs5MCJtrcmQ,Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,12,Italian;French

Now we want to split the categories column by ";" character and add the first given category (the most important one) to the r_df.

In [16]:
r_df['category'] = r_df.categories.str.split(';').str[0]

# Drop the categories column from the dataframe
r_df_categorized = r_df.drop(columns='categories')
r_df_categorized.head()

C:\Users\joona\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,city,state,postal_code,latitude,longitude,stars,review_count,category
business_id,,,,,,,,
PfOCPjBrlQAnz__NXj9h_w,Cuyahoga Falls,OH,44221,41.119535,-81.475690,3.5,116,American (New)
o9eMRCWt5PkpLDE0gOPtcQ,Stuttgart,BW,70567,48.727200,9.147950,4.0,5,Italian
XOSRcvtaKc_Q5H1SAzN20A,Houston,PA,15342,40.241548,-80.212815,4.5,3,Breakfast & Brunch
fNMVV_ZX7CJSDWQGdOM8Nw,Charlotte,NC,28202,35.221647,-80.839345,3.5,7,American (Traditional)
l09JfMeQ6ynYs5MCJtrcmQ,Toronto,ON,M4P 2H6,43.711399,-79.399339,3.0,12,Italian

In [17]:
# Count frequencies of different cuisines
r_df_categorized['category'].value_counts()

Pizza                         3387
Fast Food                     2847
Mexican                       2557
Chinese                       2538
Food                          2520
Italian                       2326
Sandwiches                    2300
American (Traditional)        2043
Burgers                       1825
Nightlife                     1568
Breakfast & Brunch            1496
Bars                          1487
American (New)                1386
Japanese                      1159
Cafes                         1023
Sushi Bars                     907
Thai                           832
Seafood                        800
Indian                         799
Chicken Wings                  786
Barbeque                       671
Vietnamese                     647
Mediterranean                  623
Asian Fusion                   601
Coffee & Tea                   582
Delis                          582
Steakhouses                    564
Canadian (New)                 552
Greek                          519
Salad                          506
                              ...
Sugar Shacks                     1
Roofing                          1
Pita                             1
Fischbroetchen                   1
Plumbing                         1
Paint & Sip                      1
Massage Therapy                  1
CSA                              1
Food Tours                       1
Investing                        1
Cosmetic Surgeons                1
Batting Cages                    1
Religious Organizations          1
Foundation Repair                1
Shared Office Spaces             1
Videos & Video Game Rental       1
Sports Clubs                     1
Recreation Centers               1
Lakes                            1
Cultural Center                  1
Airport Terminals                1
Tires                            1
Wedding Chapels                  1
Financial Services               1
Speakeasies                      1
Slovakian                        1
Barbers                          1
Airports                         1
Reunion                          1
Public Markets                   1
Name: category, Length: 408, dtype: int64

In [18]:
# Let's pick 50 most frequent out of these and read them into a list

# Read all food categories to an list
food_categories_list = r_df_categorized['category'].value_counts().index.tolist()

# Select 50 most frequent cuisines and remove one empty (category with only Restaurant) and 'Event Planning and Services'
food_categories_50 = food_categories_list[0:52]
food_categories_50.remove('')
food_categories_50.remove('Event Planning & Services')
food_categories_50

['Pizza',
 'Fast Food',
 'Mexican',
 'Chinese',
 'Food',
 'Italian',
 'Sandwiches',
 'American (Traditional)',
 'Burgers',
 'Nightlife',
 'Breakfast & Brunch',
 'Bars',
 'American (New)',
 'Japanese',
 'Cafes',
 'Sushi Bars',
 'Thai',
 'Seafood',
 'Indian',
 'Chicken Wings',
 'Barbeque',
 'Vietnamese',
 'Mediterranean',
 'Asian Fusion',
 'Coffee & Tea',
 'Delis',
 'Steakhouses',
 'Canadian (New)',
 'Greek',
 'Salad',
 'French',
 'Diners',
 'Middle Eastern',
 'Korean',
 'Buffets',
 'Caribbean',
 'Caterers',
 'Bakeries',
 'Sports Bars',
 'Hot Dogs',
 'Desserts',
 'Vegetarian',
 'Specialty Food',
 'Pubs',
 'Tex-Mex',
 'German',
 'Latin American',
 'Soup',
 'Vegan',
 'Ice Cream & Frozen Yogurt']

In [19]:
# Filter rows of containing only these 50 most frequently used cuisines

r_df_clean = r_df_categorized[r_df_categorized['category'].isin(food_categories_50)]
r_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46406 entries, PfOCPjBrlQAnz__NXj9h_w to UdEmYOnk2iJDY9lpEPAlJQ
Data columns (total 8 columns):
city            46406 non-null object
state           46406 non-null object
postal_code     46406 non-null object
latitude        46406 non-null float64
longitude       46406 non-null float64
stars           46406 non-null float64
review_count    46406 non-null int64
category        46406 non-null object
dtypes: float64(3), int64(1), object(4)
memory usage: 3.2+ MB

In [20]:
len(r_df_clean['category'].value_counts())

50

In [21]:
r_df_clean.describe(include='all')

,city,state,postal_code,latitude,longitude,stars,review_count,category
count,46406,46406,46406,46406.000000,46406.000000,46406.000000,46406.000000,46406
unique,732,40,8795,NaN,NaN,NaN,NaN,50
top,Toronto,ON,89109,NaN,NaN,NaN,NaN,Pizza
freq,5976,11440,748,NaN,NaN,NaN,NaN,3387
mean,NaN,NaN,NaN,40.165666,-86.170863,3.420786,58.659333,NaN
std,NaN,NaN,NaN,5.441554,27.020415,0.798343,150.564574,NaN
min,NaN,NaN,NaN,-34.515952,-142.466650,1.000000,3.000000,NaN
25%,NaN,NaN,NaN,35.247325,-111.929945,3.000000,7.000000,NaN
50%,NaN,NaN,NaN,41.237823,-80.841481,3.500000,18.000000,NaN
75%,NaN,NaN,NaN,43.704188,-79.393448,4.000000,54.000000,NaN
max,NaN,NaN,NaN,89.999314,115.086769,5.000000,7361.000000,NaN

# Review.json Data

In [35]:
# Columns that are used for the initial dataframe
cols = ['review_id', 'user_id', 'business_id', 'stars', 'date']

review_df = pd.read_csv('..\Yelp Dataset\yelp_review.csv', index_col='review_id', usecols= cols, nrows=1000000)

In [36]:
review_df.head()

,user_id,business_id,stars,date
review_id,,,,
vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28
n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28
MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28
IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28
L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28

In [37]:
# Whole dataset has: 5261668 entries
review_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000000 entries, vkVSCC7xljjrAI4UGfnKEQ to XTq6owEeMcQkAMRHt7Vqbw
Data columns (total 4 columns):
user_id        1000000 non-null object
business_id    1000000 non-null object
stars          1000000 non-null int64
date           1000000 non-null object
dtypes: int64(1), object(3)
memory usage: 38.1+ MB