# Wrangling data to be used in D3 visualization

In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('../visualization/data/restaurants.csv', index_col=False, usecols=['state', 'category', 'restaurant_stars'])
df.head()

  state        category  restaurant_stars
0    QC          Diners          4.166667
1    QC  Canadian (New)          4.460000
2    QC       Fast Food          3.557377
3    QC        Bakeries          4.287154
4    ON            Thai          3.954955

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36440 entries, 0 to 36439
Data columns (total 3 columns):
state               36440 non-null object
category            36440 non-null object
restaurant_stars    36440 non-null float64
dtypes: float64(1), object(2)
memory usage: 854.1+ KB

In [21]:
df.state.unique()

array(['QC', 'ON', 'NV', 'WI', 'AZ', 'PA', 'NC', 'IL', 'OH', 'SC'],
      dtype=object)

In [22]:
df.category.unique()

array(['Diners', 'Canadian (New)', 'Fast Food', 'Bakeries', 'Thai',
       'Breakfast & Brunch', 'American (Traditional)', 'Burgers',
       'American (New)', 'Vietnamese', 'Chinese', 'Japanese',
       'Asian Fusion', 'Sushi Bars', 'Cafes', 'Italian', 'Mediterranean',
       'Korean', 'French', 'Sandwiches', 'Desserts', 'Mexican', 'Pizza',
       'Steakhouses', 'Seafood', 'Delis', 'Barbeque', 'Tex-Mex',
       'Hot Dogs', 'Chicken Wings', 'Salad', 'Vegetarian', 'Indian',
       'Caribbean', 'Greek', 'Latin American', 'Soup', 'Middle Eastern',
       'German'], dtype=object)

In [25]:
df.restaurant_stars.value_counts()

3.000000    1324
4.000000    1184
3.333333     690
3.666667     653
2.000000     638
3.500000     615
2.666667     472
2.333333     455
4.333333     447
2.500000     402
3.750000     368
5.000000     339
3.250000     322
4.666667     304
2.750000     291
4.500000     290
3.400000     246
3.600000     242
4.250000     227
3.200000     226
3.800000     214
2.250000     213
2.800000     208
1.666667     206
2.600000     192
4.200000     187
1.000000     184
3.833333     179
3.166667     178
2.833333     162
            ...
3.877339       1
3.389831       1
4.076023       1
2.861702       1
3.132743       1
3.746212       1
3.948905       1
3.561798       1
4.424419       1
1.756757       1
2.793814       1
3.850267       1
4.123810       1
2.974026       1
3.709845       1
3.116505       1
3.559322       1
3.866171       1
3.392000       1
3.473469       1
4.063291       1
3.651934       1
3.324921       1
3.860294       1
3.399103       1
2.946809       1
3.922414       1
4.352258       1
3.723577       1
4.547826       1
Name: restaurant_stars, Length: 7875, dtype: int64

In [28]:
df.sort_values(by=['state', 'category'], inplace=True)
df.tail(20)

      state    category  restaurant_stars
15237    WI        Thai          3.471698
15455    WI        Thai          4.000000
15457    WI        Thai          2.750000
19347    WI        Thai          3.769231
34709    WI        Thai          4.250000
3717     WI  Vegetarian          3.653846
4525     WI  Vegetarian          3.583333
6384     WI  Vegetarian          4.102564
11976    WI  Vegetarian          3.375000
16279    WI  Vegetarian          2.227273
19295    WI  Vegetarian          3.692308
23610    WI  Vegetarian          4.800000
25090    WI  Vegetarian          4.083333
27149    WI  Vegetarian          4.400000
1576     WI  Vietnamese          4.091379
1934     WI  Vietnamese          3.962069
14154    WI  Vietnamese          3.902985
21590    WI  Vietnamese          3.500000
24212    WI  Vietnamese          3.538462
28867    WI  Vietnamese          3.388889

In [29]:
df.shape

(36440, 3)

In [30]:
df.to_csv('../visualization/data/histogram.csv', index=False)