In [2]:
import pandas as pd

In [16]:
df = pd.read_csv('../visualization/data/heatmap.csv', index_col=False)
df.head()

,States,Diners,Canadian (New),Fast Food,Bakeries,Thai,Breakfast & Brunch,American (Traditional),Burgers,American (New),...,Chicken Wings,Salad,Vegetarian,Indian,Caribbean,Greek,Latin American,Soup,Middle Eastern,German
0,QC,3.460910,3.652233,3.077644,4.190872,3.277212,3.689255,3.346036,3.307266,3.385944,...,2.846844,3.721499,3.774701,3.607200,3.972338,3.584748,3.989394,3.887605,3.633954,3.944444
1,ON,3.385538,3.409868,2.823384,3.648941,3.280537,3.423472,3.090128,3.084926,3.342929,...,2.899140,3.615051,3.504598,3.459895,3.658543,3.235910,3.819357,3.543591,3.484437,3.805882
2,NV,3.406512,0.000000,2.687612,3.927991,3.769030,3.598397,3.343211,2.987772,3.555370,...,2.929498,3.674422,3.837313,3.628889,4.072758,3.792549,3.730428,3.462865,3.886297,3.994523
3,WI,2.861996,0.000000,2.655074,3.985447,3.609125,3.738516,3.524249,2.880066,3.382296,...,2.637365,3.470182,3.768629,3.974909,3.917684,3.323171,3.247863,3.274436,3.474528,0.000000
4,AZ,3.416795,0.000000,2.682265,3.588321,3.840277,3.595290,3.252111,2.819128,3.502304,...,2.811816,3.637830,3.992074,3.570332,3.782653,3.809402,3.812878,3.464386,3.859189,3.817045

In [17]:
df = df.melt(id_vars=['States'], var_name='Cuisine', value_name='Rating')
print(df)

    States         Cuisine    Rating
0       QC          Diners  3.460910
1       ON          Diners  3.385538
2       NV          Diners  3.406512
3       WI          Diners  2.861996
4       AZ          Diners  3.416795
5       PA          Diners  3.501483
6       NC          Diners  3.362735
7       IL          Diners  2.454376
8       OH          Diners  3.597887
9       SC          Diners  3.630303
10      QC  Canadian (New)  3.652233
11      ON  Canadian (New)  3.409868
12      NV  Canadian (New)  0.000000
13      WI  Canadian (New)  0.000000
14      AZ  Canadian (New)  0.000000
15      PA  Canadian (New)  0.000000
16      NC  Canadian (New)  0.000000
17      IL  Canadian (New)  0.000000
18      OH  Canadian (New)  0.000000
19      SC  Canadian (New)  0.000000
20      QC       Fast Food  3.077644
21      ON       Fast Food  2.823384
22      NV       Fast Food  2.687612
23      WI       Fast Food  2.655074
24      AZ       Fast Food  2.682265
25      PA       Fast Food  2.773468
26      NC       Fast Food  2.677692
27      IL       Fast Food  2.535065
28      OH       Fast Food  2.766974
29      SC       Fast Food  2.678025
..     ...             ...       ...
360     QC            Soup  3.887605
361     ON            Soup  3.543591
362     NV            Soup  3.462865
363     WI            Soup  3.274436
364     AZ            Soup  3.464386
365     PA            Soup  3.793742
366     NC            Soup  3.311238
367     IL            Soup  3.268293
368     OH            Soup  3.508666
369     SC            Soup  3.918919
370     QC  Middle Eastern  3.633954
371     ON  Middle Eastern  3.484437
372     NV  Middle Eastern  3.886297
373     WI  Middle Eastern  3.474528
374     AZ  Middle Eastern  3.859189
375     PA  Middle Eastern  4.294159
376     NC  Middle Eastern  3.857882
377     IL  Middle Eastern  3.391287
378     OH  Middle Eastern  3.978038
379     SC  Middle Eastern  4.093750
380     QC          German  3.944444
381     ON          German  3.805882
382     NV          German  3.994523
383     WI          German  0.000000
384     AZ          German  3.817045
385     PA          German  4.314096
386     NC          German  4.298413
387     IL          German  0.000000
388     OH          German  4.346757
389     SC          German  5.000000

[390 rows x 3 columns]

In [25]:
df['Rating'] = df.Rating.round(2)
df.head()

  States  Cuisine  Rating
0     QC   Diners    3.46
1     ON   Diners    3.39
2     NV   Diners    3.41
3     WI   Diners    2.86
4     AZ   Diners    3.42

In [26]:
df.to_csv('../visualization/data/heatmap_melt.csv', index=False)