# Computing metrics

In this notebook metrics for needed attributes are computed

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('..\Yelp Dataset\clean_data.csv')

C:\Users\joona\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,review_id,user_id,business_id,review_stars,date,user_review_count,yelping_since,fans,average_stars,city,state,postal_code,latitude,longitude,restaurant_stars,restaurant_review_count,category
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,6,2015-12-22,0,4.67,Montréal,QC,H2T 2M1,45.523333,-73.594859,4.0,84,Diners
1,vm1b1keOzwHjtGZEPPuYXA,xYciRtVZ1PW4IxSX4oJ1aw,AEx2SYEUJmTxVVB18LlCwA,5,2016-02-22,177,2015-02-15,30,3.41,Montréal,QC,H2T 2M1,45.523333,-73.594859,4.0,84,Diners
2,jUzausdZ_ujqe_n8BlBj-g,DVOOF0Z627DyrZ4XKQbTgA,AEx2SYEUJmTxVVB18LlCwA,5,2017-08-08,40,2017-01-16,1,3.98,Montréal,QC,H2T 2M1,45.523333,-73.594859,4.0,84,Diners
3,SXwA9KZ-Nc_hMARk_3cJ7g,5Ymfsf9fAYz-Ds_p0xawVQ,AEx2SYEUJmTxVVB18LlCwA,5,2013-03-29,79,2011-04-14,8,4.52,Montréal,QC,H2T 2M1,45.523333,-73.594859,4.0,84,Diners
4,oCRDwF3tszAkeszSfxwthg,5JoKz3mU42Cp906KRXDwJw,AEx2SYEUJmTxVVB18LlCwA,4,2009-01-17,3,2008-05-29,0,4.00,Montréal,QC,H2T 2M1,45.523333,-73.594859,4.0,84,Diners

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2722302 entries, 0 to 2722301
Data columns (total 17 columns):
review_id                  object
user_id                    object
business_id                object
review_stars               int64
date                       object
user_review_count          int64
yelping_since              object
fans                       int64
average_stars              float64
city                       object
state                      object
postal_code                object
latitude                   float64
longitude                  float64
restaurant_stars           float64
restaurant_review_count    int64
category                   object
dtypes: float64(4), int64(4), object(9)
memory usage: 353.1+ MB

In [10]:
# Category aggregated metrics, computing mean for each restaurant category

vc = df['category'].unique() # All unique restaurant categories

for i in vc:
    avg_rating = np.mean(df.loc[df['category'] == i]['restaurant_stars'])
    df.loc[df['category'] == i,'cat_avg_rating'] = avg_rating

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2722302 entries, 0 to 2722301
Data columns (total 19 columns):
review_id                  object
user_id                    object
business_id                object
review_stars               int64
date                       object
user_review_count          int64
yelping_since              object
fans                       int64
average_stars              float64
city                       object
state                      object
postal_code                object
latitude                   float64
longitude                  float64
restaurant_stars           float64
restaurant_review_count    int64
category                   object
cat_rating                 float64
cat_avg_rating             float64
dtypes: float64(6), int64(4), object(9)
memory usage: 394.6+ MB

In [11]:
#State aggregated metrics, computing mean for each state

df['state_avg_rating'] = np.nan
vc = df['state'].unique()

for i in vc:
    avg_rating = np.mean(df.loc[df['state'] == i]['restaurant_stars'])
    df.loc[df['state'] == i,'state_avg_rating'] = avg_rating

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2722302 entries, 0 to 2722301
Data columns (total 20 columns):
review_id                  object
user_id                    object
business_id                object
review_stars               int64
date                       object
user_review_count          int64
yelping_since              object
fans                       int64
average_stars              float64
city                       object
state                      object
postal_code                object
latitude                   float64
longitude                  float64
restaurant_stars           float64
restaurant_review_count    int64
category                   object
cat_rating                 float64
cat_avg_rating             float64
state_avg_rating           float64
dtypes: float64(7), int64(4), object(9)
memory usage: 415.4+ MB

In [12]:
#State and category aggregated metric, computing mean for each state and category combination

df['state_cat_avg_rating'] = np.nan
vc = df['state'].unique()

for i in vc:
    for j in df.loc[df['state'] == i]['category'].unique():
        avg_rating = np.mean(df.loc[(df['state'] == i) & (df['category'] == j)]['restaurant_stars'])
        df.loc[(df['state'] == i) & (df['category'] == j),'state_cat_avg_rating'] = avg_rating
df.head()

,review_id,user_id,business_id,review_stars,date,user_review_count,yelping_since,fans,average_stars,city,...,postal_code,latitude,longitude,restaurant_stars,restaurant_review_count,category,cat_rating,cat_avg_rating,state_avg_rating,state_cat_avg_rating
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,6,2015-12-22,0,4.67,Montréal,...,H2T 2M1,45.523333,-73.594859,4.0,84,Diners,3.690604,3.690604,3.815414,3.920385
1,vm1b1keOzwHjtGZEPPuYXA,xYciRtVZ1PW4IxSX4oJ1aw,AEx2SYEUJmTxVVB18LlCwA,5,2016-02-22,177,2015-02-15,30,3.41,Montréal,...,H2T 2M1,45.523333,-73.594859,4.0,84,Diners,3.690604,3.690604,3.815414,3.920385
2,jUzausdZ_ujqe_n8BlBj-g,DVOOF0Z627DyrZ4XKQbTgA,AEx2SYEUJmTxVVB18LlCwA,5,2017-08-08,40,2017-01-16,1,3.98,Montréal,...,H2T 2M1,45.523333,-73.594859,4.0,84,Diners,3.690604,3.690604,3.815414,3.920385
3,SXwA9KZ-Nc_hMARk_3cJ7g,5Ymfsf9fAYz-Ds_p0xawVQ,AEx2SYEUJmTxVVB18LlCwA,5,2013-03-29,79,2011-04-14,8,4.52,Montréal,...,H2T 2M1,45.523333,-73.594859,4.0,84,Diners,3.690604,3.690604,3.815414,3.920385
4,oCRDwF3tszAkeszSfxwthg,5JoKz3mU42Cp906KRXDwJw,AEx2SYEUJmTxVVB18LlCwA,4,2009-01-17,3,2008-05-29,0,4.00,Montréal,...,H2T 2M1,45.523333,-73.594859,4.0,84,Diners,3.690604,3.690604,3.815414,3.920385

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2722302 entries, 0 to 2722301
Data columns (total 20 columns):
review_id                  object
user_id                    object
business_id                object
review_stars               int64
date                       object
user_review_count          int64
yelping_since              object
fans                       int64
average_stars              float64
city                       object
state                      object
postal_code                object
latitude                   float64
longitude                  float64
restaurant_stars           float64
restaurant_review_count    int64
category                   object
cat_avg_rating             float64
state_avg_rating           float64
state_cat_avg_rating       float64
dtypes: float64(7), int64(4), object(9)
memory usage: 415.4+ MB

In [25]:
df.to_csv('..\Yelp Dataset\clean_stats.csv', index=False)