In [1]:
import pandas as pd

# Columns that are used for the initial dataframe
cols = ['business_id', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'categories']

business_df = pd.read_csv('..\Yelp Dataset\yelp_business.csv', index_col='business_id', usecols=cols)

In [2]:
business_df.head()

,city,state,postal_code,latitude,longitude,stars,review_count,categories
business_id,,,,,,,,
M82c96ICluambjx0wWg6Bg,110 Las Vegas,NV,89147,36.099575,-115.306722,5.0,63,Smog Check Stations;Automotive;Oil Change Stat...
LixFCMGKdptI8WRsjAl5cQ,AGINCOURT,ON,M1W 2T4,43.794282,-79.329940,2.5,6,Fast Food;Burgers;Restaurants
2DBNUgEeFaQ3FznUA7P1eQ,Aberdour,FIF,KY3 0SL,56.055265,-3.297981,4.0,4,Landmarks & Historical Buildings;Public Servic...
D0ohQMGTZ8QhGiMIh6aTFg,Aberlady,ELN,EH32 0PX,56.003354,-2.870777,3.5,4,Food;Farmers Market
LtfdxQfCYiIK8sXXW0m7rA,Aberlady,ELN,EH32 0RF,56.008924,-2.861384,5.0,3,Restaurants;British

In [3]:
business_df.shape

(174567, 8)

In [4]:
business_df.describe(include='all')

,city,state,postal_code,latitude,longitude,stars,review_count,categories
count,174566,174566,173944,174566.000000,174566.000000,174567.000000,174567.000000,174567
unique,1093,67,16004,NaN,NaN,NaN,NaN,76419
top,Las Vegas,AZ,89109,NaN,NaN,NaN,NaN,Restaurants;Pizza
freq,26775,52214,2965,NaN,NaN,NaN,NaN,990
mean,NaN,NaN,NaN,38.627312,-92.679009,3.632196,30.137059,NaN
std,NaN,NaN,NaN,5.389012,26.240079,1.003739,98.208174,NaN
min,NaN,NaN,NaN,-36.086009,-142.466650,1.000000,3.000000,NaN
25%,NaN,NaN,NaN,33.631550,-112.125879,3.000000,4.000000,NaN
50%,NaN,NaN,NaN,36.144257,-89.410128,3.500000,8.000000,NaN
75%,NaN,NaN,NaN,43.606181,-79.657609,4.500000,23.000000,NaN
max,NaN,NaN,NaN,89.999314,115.086769,5.000000,7361.000000,NaN

Because we are visualizing only restaurant review data, we want to extract observations that have Restaurants value in their category attribute.

In [5]:
business_df.categories.value_counts()

Restaurants;Pizza                                                                                                                             990
Pizza;Restaurants                                                                                                                             987
Food;Coffee & Tea                                                                                                                             978
Nail Salons;Beauty & Spas                                                                                                                     936
Coffee & Tea;Food                                                                                                                             929
Beauty & Spas;Nail Salons                                                                                                                     909
Mexican;Restaurants                                                                                                                           906
Restaurants;Mexican                                                                                                                           864
Restaurants;Chinese                                                                                                                           857
Chinese;Restaurants                                                                                                                           839
Beauty & Spas;Hair Salons                                                                                                                     839
Hair Salons;Beauty & Spas                                                                                                                     781
Restaurants;Italian                                                                                                                           615
Italian;Restaurants                                                                                                                           554
Auto Repair;Automotive                                                                                                                        551
Grocery;Food                                                                                                                                  538
Food;Grocery                                                                                                                                  522
Automotive;Auto Repair                                                                                                                        504
Na                                                                                                                                            500
Food;Ice Cream & Frozen Yogurt                                                                                                                424
Ice Cream & Frozen Yogurt;Food                                                                                                                389
Financial Services;Banks & Credit Unions                                                                                                      382
Food;Bakeries                                                                                                                                 374
Restaurants                                                                                                                                   362
Bakeries;Food                                                                                                                                 357
Beauty & Spas;Barbers                                                                                                                         355
Banks & Credit Unions;Financial Services                                                                                                      346
Barbers;Beauty & Spas                                                                                                                         346
Restaurants;American (Traditional)                                                                                                            311
Apartments;Real Estate;Home Services                                                                                                          309
                                                                                                                                             ...
Shopping;Home Decor;Home & Garden;Home Services;Building Supplies                                                                               1
Shopping;Guns & Ammo;Fashion;Sporting Goods;Sports Wear;Outdoor Gear                                                                            1
Grocery;Department Stores;Drugstores;Electronics;Fashion;Shopping;Discount Store;Food                                                           1
Home Services;Insulation Installation;Heating & Air Conditioning/HVAC;Plumbing                                                                  1
Bars;Asian Fusion;Restaurants;Noodles;American (New);Chinese;Cocktail Bars;Sushi Bars;Nightlife                                                 1
Wine Bars;Hotels & Travel;Bars;French;Nightlife;Modern European;Restaurants;Event Planning & Services;Hotels                                    1
Shopping;Health Markets;Vitamins & Supplements;Specialty Food;Juice Bars & Smoothies;Food                                                       1
Sandwiches;Burgers;Diners;Restaurants                                                                                                           1
Gyms;Trampoline Parks;Event Planning & Services;Fitness & Instruction;Active Life;Recreation Centers;Kids Activities;Venues & Event Spaces      1
Electronics;Education;Used Bookstore;Fashion;Colleges & Universities;Bookstores;Shopping;Books;Mags;Music & Video                               1
Beauty & Spas;Hair Stylists;Hair Salons;Cosmetics & Beauty Supply;Shopping                                                                      1
Food;Restaurants;Specialty Food;Ethnic Food;Mexican                                                                                             1
Food;Flowers & Gifts;Grocery;Shopping;Drugstores                                                                                                1
Shopping;Makeup Artists;Beauty & Spas;Cosmetics & Beauty Supply;Blow Dry/Out Services;Hair Salons;Hair Stylists;Men's Hair Salons               1
Health & Medical;Gyms;Fitness & Instruction;Medical Spas;Active Life;Trainers;Beauty & Spas;Recreation Centers                                  1
Burgers;Nightlife;Bars;Sports Bars;Chicken Wings;Restaurants;American (Traditional);Steakhouses                                                 1
Shopping;Shoe Stores;Fashion;Women's Clothing;Accessories                                                                                       1
Soup;Sushi Bars;Japanese;Salad;Restaurants                                                                                                      1
Sandwiches;Food;Wraps;Restaurants;Juice Bars & Smoothies                                                                                        1
Traditional Chinese Medicine;Reflexology;Health & Medical;Massage Therapy;Doctors;Acupuncture                                                   1
Carpet Cleaning;Home Services;Home Cleaning;Damage Restoration;Local Services                                                                   1
Medical Centers;Travel Services;Health & Medical;Hotels & Travel                                                                                1
Endodontists;Health & Medical;Cosmetic Dentists;General Dentistry;Dentists;Oral Surgeons                                                        1
Truck Rental;Self Storage;Home & Garden;Local Services;Shopping;Automotive;Home Decor                                                           1
Restaurants;Mediterranean;Cafes;British                                                                                                         1
American (Traditional);Steakhouses;Comfort Food;Restaurants;Canadian (New)                                                                      1
Commercial Truck Repair;Transmission Repair;Auto Repair;Automotive                                                                              1
Specialty Schools;Caterers;Event Planning & Services;Cooking Schools;Party & Event Planning;Education                                           1
Printing Services;Local Services;Art Galleries;Arts & Entertainment;Shopping                                                                    1
Food;Grocery;Health & Medical;Pharmacy                                                                                                          1
Name: categories, Length: 76419, dtype: int64

In [6]:
# Matching 'Restaurants' string with categories attribute and extracting a new dataframe
restaurants_df = business_df[business_df['categories'].str.contains('Restaurants')]

In [7]:
restaurants_df.shape

(54618, 8)

In [8]:
restaurants_df.head()

,city,state,postal_code,latitude,longitude,stars,review_count,categories
business_id,,,,,,,,
LixFCMGKdptI8WRsjAl5cQ,AGINCOURT,ON,M1W 2T4,43.794282,-79.329940,2.5,6,Fast Food;Burgers;Restaurants
LtfdxQfCYiIK8sXXW0m7rA,Aberlady,ELN,EH32 0RF,56.008924,-2.861384,5.0,3,Restaurants;British
UY1BHeeb1oE0-uk0EKqaGg,Ahwatukee,AZ,85044,33.348551,-111.975151,1.5,7,Fast Food;Food;Restaurants;Burgers
qJf61TR4Jq9Xph5RiXPS9A,Ahwatukee,AZ,85048,33.305289,-111.992538,4.0,270,Restaurants;Coffee & Tea;Food;Creperies
0Rni7ocMC_Lg2UH0lDeKMQ,Ahwatukee,AZ,85044,33.318059,-111.983528,3.5,74,Restaurants;Pizza;Italian;Sandwiches

Inspecting the DF for missing and duplicate values

In [9]:
restaurants_df.isna().sum()

city              0
state             0
postal_code     101
latitude          0
longitude         0
stars             0
review_count      0
categories        0
dtype: int64

There are some missing values, but so few that we can drop them.

In [10]:
r_df_nona = restaurants_df.dropna(axis=0, how='any')
r_df_nona.isna().sum()

city            0
state           0
postal_code     0
latitude        0
longitude       0
stars           0
review_count    0
categories      0
dtype: int64

In [11]:
r_df_nona[r_df_nona.duplicated()]

,city,state,postal_code,latitude,longitude,stars,review_count,categories
business_id,,,,,,,,
e8cFfRySb8n9lMXRnyzeIA,Charlotte,NC,28270,35.137593,-80.73942,3.0,7,Restaurants;Chinese

Only one duplicate value so we can drop it.

In [12]:
r_df = r_df_nona.drop_duplicates(keep='first')
r_df.duplicated().value_counts()

False    54516
dtype: int64

In [13]:
r_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54516 entries, LixFCMGKdptI8WRsjAl5cQ to mPuJAD2dEw3Wax-JlUnEBw
Data columns (total 8 columns):
city            54516 non-null object
state           54516 non-null object
postal_code     54516 non-null object
latitude        54516 non-null float64
longitude       54516 non-null float64
stars           54516 non-null float64
review_count    54516 non-null int64
categories      54516 non-null object
dtypes: float64(3), int64(1), object(4)
memory usage: 3.7+ MB

We want to replace the Restaurants string in categories attribute, because it doesn't provide any additional information

In [14]:
r_df['categories'] = r_df['categories'].replace({';Restaurants' : '', 'Restaurants;' : '', 'Restaurants' : ''}, regex=True)

C:\Users\joona\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
r_df.head()

,city,state,postal_code,latitude,longitude,stars,review_count,categories
business_id,,,,,,,,
LixFCMGKdptI8WRsjAl5cQ,AGINCOURT,ON,M1W 2T4,43.794282,-79.329940,2.5,6,Fast Food;Burgers
LtfdxQfCYiIK8sXXW0m7rA,Aberlady,ELN,EH32 0RF,56.008924,-2.861384,5.0,3,British
UY1BHeeb1oE0-uk0EKqaGg,Ahwatukee,AZ,85044,33.348551,-111.975151,1.5,7,Fast Food;Food;Burgers
qJf61TR4Jq9Xph5RiXPS9A,Ahwatukee,AZ,85048,33.305289,-111.992538,4.0,270,Coffee & Tea;Food;Creperies
0Rni7ocMC_Lg2UH0lDeKMQ,Ahwatukee,AZ,85044,33.318059,-111.983528,3.5,74,Pizza;Italian;Sandwiches

Now we want to split the categories column by ";" character and add the first given category (the most important one) to the r_df.

In [16]:
r_df['category'] = r_df.categories.str.split(';').str[0]
r_df.category.value_counts()

C:\Users\joona\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Pizza                        3387
Fast Food                    2847
Mexican                      2557
Chinese                      2538
Food                         2520
Italian                      2326
Sandwiches                   2300
American (Traditional)       2043
Burgers                      1825
Nightlife                    1568
Breakfast & Brunch           1496
Bars                         1487
American (New)               1386
Japanese                     1159
Cafes                        1023
Sushi Bars                    907
Thai                          832
Seafood                       800
Indian                        799
Chicken Wings                 786
Barbeque                      671
Vietnamese                    647
Mediterranean                 623
Asian Fusion                  601
Delis                         582
Coffee & Tea                  582
Steakhouses                   564
Canadian (New)                552
Greek                         519
Salad                         506
                             ...
Walking Tours                   1
Botanical Gardens               1
Fishmonger                      1
Medical Centers                 1
Cards & Stationery              1
Museums                         1
Hainan                          1
Amateur Sports Teams            1
Beer Hall                       1
Georgian                        1
Kitchen & Bath                  1
Ethical Grocery                 1
Car Dealers                     1
Hospitals                       1
Uzbek                           1
Laundromat                      1
Rock Climbing                   1
Wedding Chapels                 1
Dentists                        1
Honduran                        1
Printing Services               1
Japanese Curry                  1
Computers                       1
Horse Racing                    1
Cosmetics & Beauty Supply       1
Bartending Schools              1
Mobile Phone Repair             1
Flatbread                       1
Sporting Goods                  1
Family Practice                 1
Name: category, Length: 408, dtype: int64

In [17]:
# Create DataFrame out of food categories and count frequencies of the first given cuisine
food_categories = r_df.categories.str.split(';').str[0]
food_categories.value_counts()

Pizza                        3387
Fast Food                    2847
Mexican                      2557
Chinese                      2538
Food                         2520
Italian                      2326
Sandwiches                   2300
American (Traditional)       2043
Burgers                      1825
Nightlife                    1568
Breakfast & Brunch           1496
Bars                         1487
American (New)               1386
Japanese                     1159
Cafes                        1023
Sushi Bars                    907
Thai                          832
Seafood                       800
Indian                        799
Chicken Wings                 786
Barbeque                      671
Vietnamese                    647
Mediterranean                 623
Asian Fusion                  601
Delis                         582
Coffee & Tea                  582
Steakhouses                   564
Canadian (New)                552
Greek                         519
Salad                         506
                             ...
Walking Tours                   1
Botanical Gardens               1
Fishmonger                      1
Medical Centers                 1
Cards & Stationery              1
Museums                         1
Hainan                          1
Amateur Sports Teams            1
Beer Hall                       1
Georgian                        1
Kitchen & Bath                  1
Ethical Grocery                 1
Car Dealers                     1
Hospitals                       1
Uzbek                           1
Laundromat                      1
Rock Climbing                   1
Wedding Chapels                 1
Dentists                        1
Honduran                        1
Printing Services               1
Japanese Curry                  1
Computers                       1
Horse Racing                    1
Cosmetics & Beauty Supply       1
Bartending Schools              1
Mobile Phone Repair             1
Flatbread                       1
Sporting Goods                  1
Family Practice                 1
Name: categories, Length: 408, dtype: int64

In [18]:
# Let's pick 50 most frequent out of these and read them into a list

# Read all food categories to an list
food_categories_list = food_categories.value_counts().index.tolist()

food_categories_50 = food_categories_list[0:51]

In [19]:
#r_df = pd.merge(r_df, food_categories, how='inner', on='business_id')